<div class = "page-container">
	<div class="top">
		<h1>Make Your Move</h1>
		<h3>Search for jobs at companies whose people, perks, and values align with your <br> unique professional needs.</h3>
		
		<div class="searchbar">
			<div class="input-group">
				<form action="/search" method="POST" class="input-group">
					<input list="careers" name= "category" class="form-control " placeholder="Find a career in..." aria-label="Search" aria-describedby="search-addon" />
					<datalist id="careers">
						<option value="Accounting"></option>
						<option value="Account Management/Customer Success"></option>
						<option value="Corporate"></option>
						<option value="Customer Service Career"></option>
						<option value="Data Science"></option>
						<option value="Design"></option>
						<option value="Editor"></option>
						<option value="Education"></option>
						<option value="HR"></option>
						<option value="IT"></option>
						<option value="Law"></option>
						<option value="Marketing"></option>
						<option value="Mechanic"></option>
						<option value="Mental Health"></option>
						<option value="Nurses"></option>
						<option value="Office Administration"></option>
						<option value="Physical Assistant"></option>
						<option value="Product"></option>
						<option value="Project Management"></option>
						<option value="Public Relations"></option>
						<option value="Recruiting"></option>
						<option value="Retail"></option>
						<option value="Sales"></option>
						<option value="Software Engineer"></option>
						<option value="UX"></option>
						<option value="Videography"></option>
						<option value="Writer"></option>
					</datalist>
					<button type="submit" class="btn btn-outline-warning btn-lg">Find!</button>
				</form>
			</div>
		</div>
	</div>
	<div class="marketing-container">
		<div class="marketing">
			<h2>Get an exclusive look inside hundreds of companies hiring now</h2>
			<div class="structure">
				<img src="/images/work2.jpg">
				<h3>Find Your Work Fam</h3>
				<p>Learn what makes a company unique from the perspective of the people who work there — in their own words.</p>
			</div>
			<div class="structure">
				<img src="/images/work3.webp">
				<h3>Spotlight on Values</h3>
				<p>Chart a career with meaning — find companies whose mission, vision, and values align with yours.</p>
			</div>
			<div class="structure">
				<img src="/images/work1.jpg">
				<h3>Benefits & Beyond</h3>
				<p>Find a workplace that fits your lifestyle with up-to-date information about what a company has to offer.</p>
			</div>
		</div>
	</div>
	<div class="companies">
		<h1>We help companies celebrate what makes them unique — from startups to Fortune 100 and everything in between.</h1>
		<div class="companies-images">			
			<div>
				<img src="/images/intel-logo.jpg">
			</div>
			<div>
				<img src="/images/facebook-logo.png">
			</div>
			<div>
				<img src="/images/jordan-logo.png">
			</div>
			<div>
				<img src="/images/wizards-logo.png">
			</div>
			<div>
				<img src="/images/apple-logo.png">
			</div>
			<div>
				<img src="/images/goldman-logo.png">
			</div>
		</div>
		<div class="companies-btn">
			<a class="nav-link-dark" href="/companyList/1">BROWSE COMPANIES</a>
		</div>
		<div>
			<p>Hiring? Learn more about featuring your brand on jobIN.</p>
		</div>
	</div>
</div>




