<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet"> 
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <div class>
            <a class="navbar-brand" href="/">
              <img id ="nav-image" src="/images/logo.png" alt="" width="95" height="55" class="d-inline-block align-text-top">
            </a>
          </div>
          <div class = "d-flex">
            <a class="nav-link" href="/auth/login">SIGN IN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div> 
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navlink active" aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="navlink active" href="/projectList/1">JOBS</a>
              </li>
              <li class="nav-item">
                <a class="navlink active" href="#">TODO ----> COMPANIES</a>
              </li>
          </ul>
          <div class="btn-container">
            <div class="profile-btn">
              <a class="nav-link" href="/profile">PROFILE</a>
            </div>
            <div class="profile-btn">
              <a class="nav-link" href="/auth/login">LOGIN</a>
            </div>
            <div class="profile-btn">
              <a class="nav-link" href="/auth/signup">REGISTER</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
      {{{body}}}
		  <footer class="bg-dark">
        <div class="footer-message">
			    <p><span>©</span>oded by Yoel Martin Fornieles. All rights reserved. Especial thanks to the IH team.</p>
        </div>
        <div class="links">
					<div>
					  <a class ="social" href="https://www.linkedin.com/in/yoel-martin-fornieles-874a33122/">
						  <img class="social-links" src="https://raw.githubusercontent.com/yoelmartinfornieles/prj-dbzArkanoid/main/assets/web/icons8-linkedin-64.png">
					  </a>
					</div>
					<div>
					  <a class ="social" href="https://github.com/yoelmartinfornieles">
						  <img class="social-links" src="https://raw.githubusercontent.com/yoelmartinfornieles/prj-dbzArkanoid/main/assets/web/icons8-github.gif">
					  </a>
				  </div>
				</div>
		  </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <script src="/js/script.js"></script>
   </body>
</html>


{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 --}}
{{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 --}}