*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.error{
  color: red;
}

.card {
  padding: 0px !important;
  margin: 10px 30px !important;
}

#main{
  display: flex;
  justify-content: center;
}

#cimage{
  width:20vw;
  width:100%;
  padding: 13px;
}

#company{
  margin:10px;
  width:20%;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding: 5px;
  border-radius: 3px;
}

#job{
  margin: 10px;
  width: 80%;
}

#company > img{

}

.job-container{
  display: flex;
}
