*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Barlow Semi Condensed,Helvetica,sans-serif;
  font-weight: 600;
}
*>input:focus, select:focus {
  box-shadow: 0px 0px 5px rgb(255, 187, 1) !important;
  border: 1px solid rgb(255, 187, 1) !important;
}

.hide {
  display: none;
}

.navbar {
  width: 100%;
  z-index: 3;
  position: fixed;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display:flex;
  justify-content: space-around !important;
  width: 100vw !important;
}

.btn-box {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.btn-box2 {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color:white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;;
  font-size: 1.2em;
}

.nav-link:hover {
  color: rgb(247,194,68) !important;
  font-size: 1.2em;
}

.nav-item {
  margin: 10px;
}

.navlink {
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.navlink:hover {
  color: rgb(247,194,68) !important;
}

.profile-btn{
  display:flex;
  align-items: center;
}

.profile-btn>a{
  margin: 10px auto;
  border: 1px solid rgb(247,194,68);
  border-radius: 7px;
  color: rgb(247,194,68);
  font-weight: 600;
}

.profile-btn>a:hover {
  margin: 10px auto;
  border: 1px solid rgb(247,194,68);
  border-radius: 7px;
  background-color: rgb(247,194,68);
  color: black !important;
  font-weight: bold;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("/images/background.jpg");
  background-blend-mode:color-burn;
  background-position: center;
  background-size:cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width:100%;
  height:600px;
  margin: 0px;
  padding: 0px;
}

.top>h1{
  color:white;
  margin-top: 60px;
  padding: 30px;
  font-size: 60px;
  font-weight: 600;
}

.top>h3{
  color:white;
  margin-bottom: 50px;
  padding: 30px;
}

.searchbar {
  width: 70%;
  margin-bottom: 80px;
}

.marketing-container{



}

.marketing>h2 {
  margin: 32px;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.structure{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.structure>h3{
  font-weight: 600;
  margin: 15px;
} 

.structure>p{
  margin:20px;
  font-weight: 10;
  font-size: 18px;
}

.structure>img {
  border-radius: 50%;
  width: 60%;
  margin: 10px;
}

.companies {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.companies-images {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between ;
}

.companies-images>div {
  height: auto;
  width: 20%;
  margin: 10px 40px;
  display: flex;
  justify-content: center;
}

.companies-images>div>img{
  width: 100%;
  height: auto;
  margin: auto;
}

.companies>h1{
  margin: 32px;
  text-align: center;
  font-size: 23px;
  font-weight: 800;
  width: 40%;
}

.companies>img {
  width: 30%;
  margin: 0px;
}

.companies>div>p {
  color: rgb(247,194,68);
  margin-bottom: 40px;
}

.companies-btn{
  display:flex;
  align-items: center;
}

.otherbutton {
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

.otherbutton>a{
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
  color: black;
  font-weight: 600;
}

.otherbutton>a:hover {
  margin: 10px;
  border: 1px solid rgb(247,194,68);
  border-radius: 7px;
  color: rgb(247,194,68);
  background-color: black !important;
  font-weight: bold;
}

.companies-btn>a{
  margin: 30px;
  border: 1px solid rgb(247,194,68);
  border-radius: 7px;
  color: black;
  font-weight: 600;
}

.companies-btn>a:hover {
  margin: 30px;
  border: 1px solid rgb(247,194,68);
  border-radius: 7px;
  color: rgb(247,194,68);
  background-color: black !important;
  font-weight: bold;
}

.company>div>img {
  max-width: 30vw;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 3px;
}

.nav-link-dark {
  text-decoration: none;
  background-color: rgb(247,194,68) !important;
  color:white;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;;
  font-size: 1.2em;
  padding: 10px;
}

.nav-link-dark:hover {
  background-color: black !important;
  text-decoration: none;
  color: rgb(247,194,68) !important;
  font-size: 1.2em;
}

.search {
  margin-top: 10px;
}

.page-container {
  padding-top: 71px;
}

.profile-container {
  padding-top: 70px;
  display: flex;
}

.user-profile {
  width: 20vw;
  position: fixed;
  background-color: white;
  z-index: 51;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 7px;
  padding: 0.5em 0.5em 0.5em;
  margin: 1vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253);
}

.user-profile>div {
  display: flex;
  flex-wrap: wrap;
}

.user-profile>div>h1 {
  font-weight: 600;
  text-align: center;
  padding: 2px;
  border: 3px solid rgb(247,194,68);
  border-radius: 3px;
  width:100%;
}

.avatar {
  border: 1px solid black;
  border-radius: 3px;
}

.avatar>img {
  width:100%;
}

.user-info {
  margin: 2px;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-box>div {
  width: 80%;
}

.btn-box>div>a {
  font-size: 0.90rem;
  text-align: center;
} 

@media (max-width: 660px) {
  .btn-box>div>a {
    font-size: 8px !important;
    text-align: center;
  } 
}

.fav-list {
  margin-left: 30%;
  min-height: 800px;
  width: 100% !important;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  margin-top: 10px;
}

.error-control {
  width: 100%;
  min-height: 600px;
  margin-top: 50px;
  text-align: center;
}

.registration {
  margin: 10px;
}


.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.field-wrap {
  text-align: center;
  margin: 10px;
}

.welcome {
  font-size: 10vw;
  font-weight: 600;
  margin: 10px;
}

.main-message {
  font-size: 7vw;
  font-weight: 600;
  margin: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.error{
  color: red;
}

.card {
  padding: 0px !important;
  margin: 10px 30px !important;
}

.card-img-top>img {
  width: 100%;
}

#main{
  display: flex;
  justify-content: center;
}

#cimage{
  width:20vw;
  width:100%;
  padding: 13px;
}

#company{
  margin:10px;
  width:20%;
  border: 1px solid rgba(0, 0, 0, 0.116);
  padding: 5px;
  border-radius: 3px;
}

#job{
  margin: 10px;
  width: 80%;
}

#company > img{

}

#moreinfo {
  text-align: center;
}

#otherbuttons {
  text-align: center !important;
}

.job-container{
  padding-top: 71px;
  display: flex;
}

.btn-x {
  margin: 10px;
}

.navbar{
  z-index: 52;

}

#nav-image{
  border: 0px !important;
  padding: 0px !important;
}

.pagination > li > a
{
    background-color: white;
    color: rgb(247,194,68);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: rgb(247,194,68) !important;
    border: solid 1px rgb(247,194,68) !important;
}

.pagination > .active > a:hover
{
    background-color: rgb(247,194,68) !important;
    border: solid 1px rgb(247,194,68);
}

footer {
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0px;
  height: auto;;
  padding-bottom: 20px;
  position: absolute;
  z-index: 50;
  width: 100%;
}

.footer-message {
  margin: 20px;
  text-align: center;
  justify-content: center;
}

.footer-message>p {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}

.footer-message>p>span{
  font-size: 18px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.social-links {
	border: 1px solid black;
	width: 45px;
	height: 45px;
	border-radius:50%;
	transition: 0.5s ease ;
	background-color: white;
}

.social-links:hover {
	border: 1px solid black;
	box-shadow: 0px 0px 50px rgb(255, 187, 1);
	width: 52px;
	height: 52px;
	border-radius:50%;
	transition: 0.5s ease ;
}

.address {
  font-size: 0.8em;
  font-style: normal;
  margin-bottom: 30px;
}

#general-information {
  display: flex;
  justify-content: space-evenly;
}

#general-information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.error-message {
  font-size: 60px;
  text-align: center;
  min-height: 360px;
}

